[mysqld]

# Use MyISAM for internal tmp tables to prevent running out of disk space
#internal_tmp_disk_storage_engine = MYISAM

# Max table size in bytes for tmp data storage
# 10GB
tmp_disk_table_size = 10737418240
